<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hallloge_tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,342},{71,64}}</string>
                <key>offset</key>
                <string>{-57,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{71,64}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{207,80}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{207,80}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{207,82}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{207,82}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{205,80}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{205,80}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,207},{203,74}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{203,74}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,78},{201,74}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{201,74}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{201,74}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{201,74}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,154},{201,72}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{201,72}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,228},{201,68}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{201,68}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,298},{197,68}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{197,68}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{197,66}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{197,66}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,418},{93,78}}</string>
                <key>offset</key>
                <string>{-54,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{93,78}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,201},{139,64}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{139,64}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,298},{83,46}}</string>
                <key>offset</key>
                <string>{-48,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{83,46}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,418},{79,42}}</string>
                <key>offset</key>
                <string>{-49,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{79,42}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,207},{1,1}}</string>
                <key>offset</key>
                <string>{-114,45.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,207},{1,1}}</string>
                <key>offset</key>
                <string>{-114,45.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,408},{103,76}}</string>
                <key>offset</key>
                <string>{-44,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{103,76}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{189,76}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{189,76}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,298},{197,82}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{197,82}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{203,84}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{203,84}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,211},{205,86}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,84}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{207,84}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>hallloge_tx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,211},{207,80}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{207,80}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallloge_tx.png</string>
            <key>size</key>
            <string>{610,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:719175460955532bb8087c885fd4d7c4:89bd753755601116caab66158ddcd205:813352800557931a06a8439740f0f321$</string>
            <key>textureFileName</key>
            <string>hallloge_tx.png</string>
        </dict>
    </dict>
</plist>
