<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_datingzongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{186,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{186,78}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>tx_datingzongji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,209}}</string>
                <key>sourceSize</key>
                <string>{192,209}</string>
            </dict>
            <key>tx_datingzongji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{37,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,79}}</string>
                <key>sourceSize</key>
                <string>{37,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_datingzongji_1.png</string>
            <key>size</key>
            <string>{332,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:582b417634f3d4e060832de62ca1f388:0b1c2881105415a330b9f6b9be50b4a2:cea88c2b5b447e8cb23f165d6507a564$</string>
            <key>textureFileName</key>
            <string>tx_datingzongji_1.png</string>
        </dict>
    </dict>
</plist>
