<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_join_world_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{13,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{13,121}}</string>
                <key>sourceSize</key>
                <string>{25,175}</string>
            </dict>
            <key>tx_join_world_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_join_world.png</string>
            <key>size</key>
            <string>{60,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bf95ccff1ebcd741606c25837ce4f0d:e037dad825223e4b202ddef24e02f261:2ee2a49f5e93458014878dcadea7bef6$</string>
            <key>textureFileName</key>
            <string>tx_join_world.png</string>
        </dict>
    </dict>
</plist>
