<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{98,96}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,43},{98,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,100}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,42},{96,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,102}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{96,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{98,96}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,43},{98,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,102}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{96,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,106}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,33},{96,106}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,102}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{96,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face2_4.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56091e2dd3012a0713b131aadb6e8e76:72b9ed03d546825ee883ab92a4738431:00ca79d61b312a453e59a0498adfd0ca$</string>
            <key>textureFileName</key>
            <string>face2_4.png</string>
        </dict>
    </dict>
</plist>
