<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{118,122}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,15},{118,122}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,124}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,13},{122,124}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,124}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,13},{122,124}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,124}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,13},{122,124}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,246},{118,122}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,15},{118,122}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,126},{118,122}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,15},{118,122}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,124}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,13},{122,124}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{118,122}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,15},{118,122}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face2_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146a49d134b27b91140f0e849cdc7e2c:85860236bdb8f621b24f418f88d0adba:8dd1580d2fc04bf9ac7eb16816011c47$</string>
            <key>textureFileName</key>
            <string>face2_2.png</string>
        </dict>
    </dict>
</plist>
