<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face2_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,98},{94,94}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{94,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,94}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{94,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{94,94}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{94,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,94}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{94,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,98},{94,94}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{94,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{94,94}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{94,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,94}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{94,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,94}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{94,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face2_8.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1dd7d77d09504f4dd2a48b8cd87148a:4648113a8c25fa7c8d13cbaa4f847553:60e25fbee2947bad1014d12cc07d7931$</string>
            <key>textureFileName</key>
            <string>face2_8.png</string>
        </dict>
    </dict>
</plist>
