<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face2_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,204},{116,104}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,25},{116,104}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{148,78}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,51},{148,78}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{148,108}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{148,108}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{116,106}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{116,106}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,90}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{154,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{148,108}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{148,108}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,90}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{154,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face2_11.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45ada9ce7f1249bffcbea697f0a95e5a:c0f8e6c25fd31034af86122da7f529c5:5a4857a1398f9258fa1bdf4985f74b40$</string>
            <key>textureFileName</key>
            <string>face2_11.png</string>
        </dict>
    </dict>
</plist>
