<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,102},{100,98}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{100,98}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,98}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{100,98}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,102},{100,98}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{100,98}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{100,102}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{100,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,102}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{100,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{100,102}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{100,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,102}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{100,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face2_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d698a63abbab8692556a5146b1cd4904:9da5f32f2bd7c42a01833932401f12dd:be3f9068f18887fe860aa935be0ca7a4$</string>
            <key>textureFileName</key>
            <string>face2_1.png</string>
        </dict>
    </dict>
</plist>
