<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{120,88}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,88}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>xingxing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{116,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{116,84}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>xingxing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{118,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{118,84}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>xingxing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{118,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{118,80}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>xingxing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{114,80}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>xingxing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{112,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{112,78}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>xingxing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{108,78}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingxing.png</string>
            <key>size</key>
            <string>{822,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edf51a56c06de4e4d9d22176285ee3c0:c5aa05ebf5bc2f2b6408a6453824a684:d3ff4f62e1f420a8a97e99ee2c1de45f$</string>
            <key>textureFileName</key>
            <string>xingxing.png</string>
        </dict>
    </dict>
</plist>
