<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_shop_tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,419},{92,77}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{92,77}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{98,105}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{98,105}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,100},{96,107}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{96,107}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{96,107}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{96,107}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,102},{96,107}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{96,107}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,107}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{98,107}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,102},{96,107}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,107}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{98,107}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{98,107}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,107}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{100,107}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{102,87}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{102,87}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,313},{100,87}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{100,87}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,187},{90,77}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{90,77}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,211},{100,87}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,87}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{98,87}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{98,87}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,316},{96,83}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{96,83}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,415},{94,77}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{94,77}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,91},{94,77}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{94,77}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,417},{84,77}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{84,77}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,417},{96,83}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{96,83}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,316},{98,99}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{98,99}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,316},{100,101}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,101}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{100,101}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{100,101}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,211},{102,103}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{102,103}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>btn_shop_tx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,209},{100,105}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{100,105}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_shop_tx.png</string>
            <key>size</key>
            <string>{488,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dcd0a6115543caaf064f630158005f5:b9713edd7fe726fc194930f9155eaaa4:1eb0a36902245dd6c145c5202c42a190$</string>
            <key>textureFileName</key>
            <string>btn_shop_tx.png</string>
        </dict>
    </dict>
</plist>
