<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,720},{148,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,183},{150,179}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{150,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,726},{148,179}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,545},{148,179}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,539},{148,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,364},{148,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,726},{148,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{150,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{150,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,545},{148,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,360},{146,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{146,177}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,181},{146,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{146,177}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{150,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{146,177}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{146,177}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{150,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{150,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,183},{148,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,364},{148,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{148,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{148,179}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{148,179}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{148,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
            <key>club_tx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,179}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{150,179}}</string>
                <key>sourceSize</key>
                <string>{158,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club_tx.png</string>
            <key>size</key>
            <string>{604,907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6149f6d92c604e00ce728ee7ae4c44a:eb1786d2c4b35c360f01f6a0e8df7d56:19183f5950aff965a065dc01e1ca73c2$</string>
            <key>textureFileName</key>
            <string>club_tx.png</string>
        </dict>
    </dict>
</plist>
