<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>joingame_tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,563},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,750},{156,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{156,187}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,376},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,376},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,563},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,189},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,189},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,376},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,750},{154,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{154,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,563},{154,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{154,183}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,750},{152,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{152,181}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,189},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{156,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>joingame_tx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{156,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,185}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joingame_tx.png</string>
            <key>size</key>
            <string>{634,939}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f69efeb5d81462b81ce58a61a65e861:f1498a01c13b09d9358885bd6afca347:6eff2e16760d7b258ea13c4c69fb8f3b$</string>
            <key>textureFileName</key>
            <string>joingame_tx.png</string>
        </dict>
    </dict>
</plist>
