<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Signg_tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,60},{58,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{58,56}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,82},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{56,64}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,118},{54,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,58}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,62},{52,58}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{52,58}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,116},{56,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{56,56}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{60,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{60,58}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,74},{68,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,78},{68,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{68,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,82},{68,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Signg_tx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Signg_tx.png</string>
            <key>size</key>
            <string>{480,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a26910384014c601b8f526a7a84fb21:c4c9191928a94aaffbbb3851427ec200:b61d5e12752970350e99970449c6285f$</string>
            <key>textureFileName</key>
            <string>Signg_tx.png</string>
        </dict>
    </dict>
</plist>
