<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_clubroom_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{263,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,328}}</string>
                <key>sourceSize</key>
                <string>{263,328}</string>
            </dict>
            <key>tx_clubroom_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,432},{139,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,30}}</string>
                <key>sourceSize</key>
                <string>{139,30}</string>
            </dict>
            <key>tx_clubroom_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,267},{149,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,51}}</string>
                <key>sourceSize</key>
                <string>{149,51}</string>
            </dict>
            <key>tx_clubroom_anniu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,332},{136,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{136,127}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>tx_clubroom_anniu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{149,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,151}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>tx_createroom_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,276},{162,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,30}}</string>
                <key>sourceSize</key>
                <string>{162,30}</string>
            </dict>
            <key>tx_createroom_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,331},{150,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,116}</string>
            </dict>
            <key>tx_createroom_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,320},{197,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,51}}</string>
                <key>sourceSize</key>
                <string>{197,51}</string>
            </dict>
            <key>tx_createroom_anniu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{130,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,159}}</string>
                <key>sourceSize</key>
                <string>{130,159}</string>
            </dict>
            <key>tx_createroom_anniu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,373},{103,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,75}}</string>
                <key>sourceSize</key>
                <string>{103,75}</string>
            </dict>
            <key>tx_createroom_anniu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,328}}</string>
                <key>sourceSize</key>
                <string>{268,328}</string>
            </dict>
            <key>tx_joinroomm_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{265,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,327}}</string>
                <key>sourceSize</key>
                <string>{265,327}</string>
            </dict>
            <key>tx_joinroomm_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,267},{198,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,51}}</string>
                <key>sourceSize</key>
                <string>{198,51}</string>
            </dict>
            <key>tx_joinroomm_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,276},{137,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,30}}</string>
                <key>sourceSize</key>
                <string>{137,30}</string>
            </dict>
            <key>tx_joinroomm_anniu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,276},{157,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,158}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>tx_joinroomm_anniu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,373},{126,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,57}}</string>
                <key>sourceSize</key>
                <string>{126,57}</string>
            </dict>
            <key>tx_joinroomm_anniu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,331},{104,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>tx_joinroomm_anniu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,155},{148,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,119}}</string>
                <key>sourceSize</key>
                <string>{148,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_joinroomm_anniu.png</string>
            <key>size</key>
            <string>{1020,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32e57de593b4f3d571bb3a6575e114dc:6a4ead091c23560a51923d000d95440f:496f8266d43f5d525adb27b4c08b536f$</string>
            <key>textureFileName</key>
            <string>tx_joinroomm_anniu.png</string>
        </dict>
    </dict>
</plist>
