<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_createroom_anniu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,460},{45,44}}</string>
                <key>offset</key>
                <string>{-83,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{45,44}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,328},{55,62}}</string>
                <key>offset</key>
                <string>{-78,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,62}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{73,64}}</string>
                <key>offset</key>
                <string>{-69,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,410},{79,64}}</string>
                <key>offset</key>
                <string>{-60,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{79,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,432},{99,64}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,262},{115,64}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,200},{123,64}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{123,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,134},{131,64}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{131,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{139,64}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,66},{135,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{135,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{139,64}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{137,62}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{137,62}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,132},{131,64}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{131,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,200},{119,60}}</string>
                <key>offset</key>
                <string>{46,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,329},{101,58}}</string>
                <key>offset</key>
                <string>{55,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{101,58}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,414},{83,58}}</string>
                <key>offset</key>
                <string>{58,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,4},{83,58}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,385},{73,56}}</string>
                <key>offset</key>
                <string>{67,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,2},{73,56}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,446},{55,56}}</string>
                <key>offset</key>
                <string>{78,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,180},{41,44}}</string>
                <key>offset</key>
                <string>{79,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,8},{41,44}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_createroom_anniu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,32},{23,28}}</string>
                <key>offset</key>
                <string>{87,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,10},{23,28}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,460},{43,44}}</string>
                <key>offset</key>
                <string>{-84,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{43,44}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,329},{57,58}}</string>
                <key>offset</key>
                <string>{-77,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{57,58}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,432},{71,64}}</string>
                <key>offset</key>
                <string>{-70,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,329},{79,64}}</string>
                <key>offset</key>
                <string>{-61,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,329},{101,64}}</string>
                <key>offset</key>
                <string>{-55,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,264},{115,62}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,62}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,198},{125,64}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{125,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,68},{133,64}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,64}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{141,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{133,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{137,64}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{137,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,134},{129,64}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{135,64}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{135,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,266},{103,60}}</string>
                <key>offset</key>
                <string>{54,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{103,60}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,226},{101,58}}</string>
                <key>offset</key>
                <string>{55,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{101,58}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,329},{83,58}}</string>
                <key>offset</key>
                <string>{59,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,4},{83,58}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,329},{73,56}}</string>
                <key>offset</key>
                <string>{67,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,2},{73,56}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,388},{55,56}}</string>
                <key>offset</key>
                <string>{78,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,134},{41,44}}</string>
                <key>offset</key>
                <string>{80,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,9},{41,44}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>tx_joinroomm_anniu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{25,28}}</string>
                <key>offset</key>
                <string>{87,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,10},{25,28}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_joinroomm_anniu1.png</string>
            <key>size</key>
            <string>{510,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe5903ec01e9a1b8ccd031805f486ca7:50c15c4d87608d7ae972478fdb33e012:503646911cc43f5b6f71c31f290c0f81$</string>
            <key>textureFileName</key>
            <string>tx_joinroomm_anniu1.png</string>
        </dict>
    </dict>
</plist>
