<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_createroom_anniu_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,248},{109,71}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{109,71}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{113,127}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{113,127}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{113,133}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{113,133}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,137},{111,135}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{111,135}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,135},{111,119}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{111,119}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,226},{111,123}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,23},{111,123}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,117},{109,127}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{109,127}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,226},{111,129}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{111,129}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{113,131}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{113,131}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{115,131}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{115,131}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{111,133}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{111,133}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,137},{111,131}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{111,131}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,115},{109,133}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{109,133}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,115},{109,131}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{109,131}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{111,131}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{111,131}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,145},{111,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{111,141}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{111,141}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,143}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{111,143}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{111,141}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{111,141}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,228},{109,121}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{109,121}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>tx_createroom_anniu_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,228},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>tx_createroom_anniu_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{54,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,19}}</string>
                <key>sourceSize</key>
                <string>{54,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_joinroomm_anniu2.png</string>
            <key>size</key>
            <string>{972,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64352162bf5d8ccf3216262b9956d4c3:c89721af20fe615d6efd023bdb83d64b:2fb28c7521185e5f9319c245ebc3729c$</string>
            <key>textureFileName</key>
            <string>tx_joinroomm_anniu2.png</string>
        </dict>
    </dict>
</plist>
