<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_contactzs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,102},{32,40}}</string>
                <key>offset</key>
                <string>{-106,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{32,40}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{50,54}}</string>
                <key>offset</key>
                <string>{-98,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{50,54}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,192},{68,60}}</string>
                <key>offset</key>
                <string>{-91,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{68,60}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{102,90}}</string>
                <key>offset</key>
                <string>{-74,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{102,90}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{116,96}}</string>
                <key>offset</key>
                <string>{-66,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{116,96}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{128,100}}</string>
                <key>offset</key>
                <string>{-57,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{128,100}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,150},{140,102}}</string>
                <key>offset</key>
                <string>{-46,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{140,102}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{146,104}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{146,104}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{148,104}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,9},{148,104}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,152},{146,104}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,7},{146,104}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,150},{148,102}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,6},{148,102}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{146,100}}</string>
                <key>offset</key>
                <string>{34,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,6},{146,100}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{140,98}}</string>
                <key>offset</key>
                <string>{46,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,6},{140,98}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,132},{128,96}}</string>
                <key>offset</key>
                <string>{56,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,6},{128,96}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,120},{112,92}}</string>
                <key>offset</key>
                <string>{66,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,9},{112,92}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,106},{96,84}}</string>
                <key>offset</key>
                <string>{75,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,14},{96,84}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,192},{64,62}}</string>
                <key>offset</key>
                <string>{91,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,34},{64,62}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,54},{46,56}}</string>
                <key>offset</key>
                <string>{100,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,36},{46,56}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,144},{28,40}}</string>
                <key>offset</key>
                <string>{108,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,39},{28,40}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>tx_contactzs_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{233,259}}</string>
                <key>sourceSize</key>
                <string>{253,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_contactzs_2.png</string>
            <key>size</key>
            <string>{1002,263}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77758cad24eb2c8c39dac792be81dc7f:a53112ecf04d8a7d4d1d47d6fbb6b7bd:0c92a8afef04674d2a38b04648b7e998$</string>
            <key>textureFileName</key>
            <string>tx_contactzs_2.png</string>
        </dict>
    </dict>
</plist>
