<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_contactzs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{467,514}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{467,514}}</string>
                <key>sourceSize</key>
                <string>{475,520}</string>
            </dict>
            <key>tx_contactzs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{493,213}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{493,213}}</string>
                <key>sourceSize</key>
                <string>{499,221}</string>
            </dict>
            <key>tx_contactzs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,325},{300,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,196}}</string>
                <key>sourceSize</key>
                <string>{300,196}</string>
            </dict>
            <key>tx_contactzs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,217},{98,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{98,81}</string>
            </dict>
            <key>tx_contactzs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,325},{173,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,138}}</string>
                <key>sourceSize</key>
                <string>{173,138}</string>
            </dict>
            <key>tx_contactzs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,317},{119,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,41}}</string>
                <key>sourceSize</key>
                <string>{119,41}</string>
            </dict>
            <key>tx_contactzs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,217},{424,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{424,106}}</string>
                <key>sourceSize</key>
                <string>{430,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_contactzs_1.png</string>
            <key>size</key>
            <string>{980,523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b23cdbe233772e57f4f2b6a8e8e95ab:10bb8d8609cf07a1c28c57089b33a1bb:c79b44c7a4995f265c02670598c3db62$</string>
            <key>textureFileName</key>
            <string>tx_contactzs_1.png</string>
        </dict>
    </dict>
</plist>
