<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/main/img_room_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,692},{212,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,57}</string>
			</dict>
			<key>image/main/img_marquee.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,421},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,31}</string>
			</dict>
			<key>image/main/img_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,557},{234,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,94}</string>
			</dict>
			<key>image/main/img_id.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,751},{210,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,45}</string>
			</dict>
			<key>image/main/id_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,288},{104,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,28}</string>
			</dict>
			<key>image/main/flash1.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,394},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>image/main/flash2.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,983},{36,36}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>image/main/flash3.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,798},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>image/main/btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,430},{136,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,51}</string>
			</dict>
			<key>image/main/btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,443},{133,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,57}</string>
			</dict>
			<key>image/main/btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,578},{138,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,51}</string>
			</dict>
			<key>image/main/btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,430},{139,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,49}</string>
			</dict>
			<key>image/main/btn_service.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,430},{129,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,49}</string>
			</dict>
			<key>image/main/btn_join_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,860},{272,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,81}</string>
			</dict>
			<key>image/main/btn_mall.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,827},{152,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,80}</string>
			</dict>
			<key>image/main/btn_create_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{329,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,242}</string>
			</dict>
			<key>image/main/btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,718},{61,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,77}</string>
			</dict>
			<key>image/main/btn_realname.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,483},{73,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,50}</string>
			</dict>
			<key>image/main/head_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,418},{104,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,103}</string>
			</dict>
			<key>image/main/award.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,798},{82,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,56}</string>
			</dict>
			<key>image/main/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,483},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>image/main/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,793},{180,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>
			<key>image/main/btn_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,712},{80,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,73}</string>
			</dict>
			<key>image/main/dial.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,928},{88,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,74}</string>
			</dict>
			<key>image/main/btn_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,1},{329,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,213}</string>
			</dict>
			<key>image/main/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,523},{231,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,54}</string>
			</dict>
			<key>image/main/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,957},{233,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,54}</string>
			</dict>
			<key>image/main/btn_addcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,535},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>image/main/btn_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,1},{1,1}}</string>
				<key>offset</key>
				<string>{127,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,69}</string>
			</dict>
			<key>image/main/btn_guild_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,505},{71,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,41}</string>
			</dict>
			<key>image/main/btn_join_roombg.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,1},{329,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,242}</string>
			</dict>
			<key>image/main/btn_limit_time_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,216},{329,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,212}</string>
			</dict>
			<key>image/main/id_name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,831},{237,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,79}</string>
			</dict>
			<key>image/main/img_await.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,838},{117,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,33}</string>
			</dict>
			<key>image/main/img_downleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,912},{255,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,69}</string>
			</dict>
			<key>image/main/img_downright.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,756},{256,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,69}</string>
			</dict>
			<key>image/main/img_joinroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,798},{178,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,44}</string>
			</dict>
			<key>image/main/img_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,523},{30,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,55}</string>
			</dict>
			<key>image/main/img_tag.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1},{285,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,26}</string>
			</dict>
			<key>image/main/img_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,896},{144,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,122}</string>
			</dict>
			<key>image/main/list_ptemplate.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,427},{431,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,51}</string>
			</dict>
			<key>image/main/img_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,983},{34,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,59}</string>
			</dict>
			<key>image/main/iphone.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,557},{153,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,103}</string>
			</dict>
			<key>image/main/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,943},{242,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,79}</string>
			</dict>
			<key>image/main/img_btnmatch.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,654},{272,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,96}</string>
			</dict>
			<key>image/main/guild.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{446,245},{198,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,171}</string>
			</dict>
			<key>image/main/match.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,427},{225,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,141}</string>
			</dict>
			<key>image/main/renwu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,245},{154,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,226}</string>
			</dict>
			<key>image/main/renwu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{180,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,215}</string>
			</dict>
			<key>image/main/room_card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,654},{182,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,42}</string>
			</dict>
			<key>image/main/img_guildBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,418},{272,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,81}</string>
			</dict>
			<key>image/main/img_createroombtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,557},{272,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,81}</string>
			</dict>
			<key>image/main/btn_announce.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,430},{54,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,73}</string>
			</dict>
			<key>image/main/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,401},{154,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,214}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main.png</string>
			<key>realTextureFileName</key>
			<string>main.png</string>
			<key>size</key>
			<string>{1024,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>