<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_curtain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,149},{273,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,265}}</string>
                <key>sourceSize</key>
                <string>{273,265}</string>
            </dict>
            <key>tx_curtain_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,685},{148,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,119}}</string>
                <key>sourceSize</key>
                <string>{148,119}</string>
            </dict>
            <key>tx_curtain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,416},{267,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{267,108}}</string>
                <key>sourceSize</key>
                <string>{271,114}</string>
            </dict>
            <key>tx_curtain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{490,145}}</string>
                <key>sourceSize</key>
                <string>{494,149}</string>
            </dict>
            <key>tx_curtain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{557,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{557,114}}</string>
                <key>sourceSize</key>
                <string>{563,116}</string>
            </dict>
            <key>tx_curtain_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,635},{189,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,187}}</string>
                <key>sourceSize</key>
                <string>{189,187}</string>
            </dict>
            <key>tx_curtain_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>tx_curtain_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,416},{217,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,217}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>tx_curtain_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,149},{136,107}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{136,107}}</string>
                <key>sourceSize</key>
                <string>{148,123}</string>
            </dict>
            <key>tx_curtain_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,287},{99,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,76}}</string>
                <key>sourceSize</key>
                <string>{101,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_curtain.png</string>
            <key>size</key>
            <string>{504,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41443fe7ba6e1cac5ad29274d08c624e:bd8272099274d02e4f276ce5d7fdc997:bb1a63d7ef7cd60f4721f7a34bd9e4bd$</string>
            <key>textureFileName</key>
            <string>tx_curtain.png</string>
        </dict>
    </dict>
</plist>
