<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_curtain_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,59},{14,33}}</string>
                <key>offset</key>
                <string>{-115,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,36},{14,33}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,124},{34,47}}</string>
                <key>offset</key>
                <string>{-107,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{34,47}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,230},{48,53}}</string>
                <key>offset</key>
                <string>{-96,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{48,53}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,283},{70,51}}</string>
                <key>offset</key>
                <string>{-89,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{70,51}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,116},{88,57}}</string>
                <key>offset</key>
                <string>{-80,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{88,57}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{106,57}}</string>
                <key>offset</key>
                <string>{-71,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{106,57}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,59},{122,55}}</string>
                <key>offset</key>
                <string>{-61,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{122,55}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,55}}</string>
                <key>offset</key>
                <string>{-46,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{128,55}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{126,63}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{126,63}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{128,67}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,3},{128,67}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,67}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{128,67}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,67},{128,55}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,10},{128,55}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,63}}</string>
                <key>offset</key>
                <string>{45,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{122,59}}</string>
                <key>offset</key>
                <string>{61,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,1},{122,59}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{106,55}}</string>
                <key>offset</key>
                <string>{71,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,2},{106,55}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,116},{70,51}}</string>
                <key>offset</key>
                <string>{71,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,5},{70,51}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,236},{70,47}}</string>
                <key>offset</key>
                <string>{89,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,6},{70,47}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,283},{52,45}}</string>
                <key>offset</key>
                <string>{98,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,5},{52,45}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,288},{34,41}}</string>
                <key>offset</key>
                <string>{107,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,7},{34,41}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>tx_curtain_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,175},{14,37}}</string>
                <key>offset</key>
                <string>{-61,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{14,37}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,222},{28,47}}</string>
                <key>offset</key>
                <string>{-56,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{28,47}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,222},{36,51}}</string>
                <key>offset</key>
                <string>{-49,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{36,51}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,177},{48,51}}</string>
                <key>offset</key>
                <string>{-44,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{48,51}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,175},{60,53}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{60,53}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,230},{72,51}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{72,51}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,114},{82,53}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{82,53}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,230},{90,51}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{90,51}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,59},{92,53}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{92,53}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,177},{92,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,12},{92,51}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,124},{92,51}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{92,51}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,169},{86,51}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,9},{86,51}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,285},{78,49}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,9},{78,49}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,285},{68,47}}</string>
                <key>offset</key>
                <string>{35,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,10},{68,47}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,283},{52,47}}</string>
                <key>offset</key>
                <string>{38,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,8},{52,47}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,188},{46,45}}</string>
                <key>offset</key>
                <string>{46,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,9},{46,45}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,252},{34,43}}</string>
                <key>offset</key>
                <string>{52,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,9},{34,43}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>tx_curtain_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,275},{22,39}}</string>
                <key>offset</key>
                <string>{57,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,10},{22,39}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_curtain1.png</string>
            <key>size</key>
            <string>{501,337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a32ef7ed2e543cd09a1dfd888668ffe:dc5d0d486f773f7be532f46cdafbd493:bf17feacc52623fc92432b3aba362b5b$</string>
            <key>textureFileName</key>
            <string>tx_curtain1.png</string>
        </dict>
    </dict>
</plist>
