<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_record_loser_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,338},{70,94}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,226},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,114},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,114},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,338},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,338},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{102,108}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,114},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>tx_record_loser_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_record_loser.png</string>
            <key>size</key>
            <string>{434,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7961b93753c881f13af4432f76375d0d:ee40db52d63e21a2dcd5d22282b71eb7:502598ebb2e5d20261d8ff33385e11e8$</string>
            <key>textureFileName</key>
            <string>tx_record_loser.png</string>
        </dict>
    </dict>
</plist>
