<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>winplayer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{248,106}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{248,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{248,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{248,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,110},{248,106}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{248,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,110},{250,106}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{250,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,110},{250,106}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{250,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{248,106}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{248,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,218},{248,106}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{248,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,218},{248,106}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{248,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,218},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{248,104}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{248,104}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,326},{248,104}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{248,104}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,326},{182,88}}</string>
                <key>offset</key>
                <string>{49,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,14},{182,88}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,326},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,434},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,434},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,434},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
            <key>winplayer_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,542},{252,106}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,106}}</string>
                <key>sourceSize</key>
                <string>{280,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winplayer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7da45e1eade11a1fe3f192a028dc5f91$</string>
            <key>textureFileName</key>
            <string>winplayer.png</string>
        </dict>
    </dict>
</plist>
