<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face1_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4331f9f0347a09330ce198ae4bd9683:e5266472527de87ef0720dee06fe8652:5243f78ef18c45120c08b53afdc87604$</string>
            <key>textureFileName</key>
            <string>face1_4.png</string>
        </dict>
    </dict>
</plist>
