<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face1_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{98,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,33},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{98,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{98,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{98,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{98,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_12_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{98,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_12_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{98,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face1_12.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d0b6f83befd24d12f2c4a2b5cc8c76d:7fb9f1308fed37dba69d473388d6a499:0e5d3493473aad52ba7c81b128ff8f49$</string>
            <key>textureFileName</key>
            <string>face1_12.png</string>
        </dict>
    </dict>
</plist>
