<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{100,100}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face1_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f865091210830be76e62a90fdd7feaf0:d85d01c19776f52c0c03986bfe5d981c:724bdc0483c4b0bf989ae5d48421263f$</string>
            <key>textureFileName</key>
            <string>face1_3.png</string>
        </dict>
    </dict>
</plist>
