<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>views/lobby/lobbylogo/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,0},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,0},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,0},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,0},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,123},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,246},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,369},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,492},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,615},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,123},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,123},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,123},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,123},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,246},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,369},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,492},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,615},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,246},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,246},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,246},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,369},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,492},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,615},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,369},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,369},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,492},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,615},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,492},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
			<key>views/lobby/lobbylogo/1_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,615},{371,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,123}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1855,738}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1855</integer>
			<key>height</key>
			<integer>738</integer>
		</dict>
	</dict>
</plist>