<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item8_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{98,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{120,104}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,19},{120,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{124,118}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{124,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{136,128}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{136,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{140,130}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{140,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{122,122}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{122,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{146,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>brick2.png</string>
            <key>size</key>
            <string>{880,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7dad201939b4ca14b4533da5da22d6f:69523a943348a4b58df1483dd2661b35:482e43a108bad2691fd83476bd5e2014$</string>
            <key>textureFileName</key>
            <string>brick2.png</string>
        </dict>
    </dict>
</plist>
