<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,246},{102,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,46},{102,110}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,122}}</string>
                <key>offset</key>
                <string>{38,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,32},{180,122}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,264},{120,150}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,12},{120,150}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{148,136}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,21},{148,136}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{152,132}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,27},{152,132}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{146,126}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,34},{146,126}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,250},{138,118}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,38},{138,118}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{132,120}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,38},{132,120}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,390},{134,116}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,43},{134,116}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,126},{134,118}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{134,118}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{138,120}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,36},{138,120}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,578},{100,108}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,46},{100,108}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,528},{98,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,46},{98,108}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,468},{98,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,46},{98,108}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,358},{98,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,46},{98,108}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,508},{100,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,46},{100,108}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,418},{100,108}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,46},{100,108}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,126},{162,122}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,32},{162,122}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>item1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{162,122}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,32},{162,122}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item1_anims_i6p-i6p.png</string>
            <key>size</key>
            <string>{494,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d2db3537b795c3c93c3327a23f20c1:6428e58c21167f73990f85123f62fb58:5355d986652c52cdac3bd17bfe9e3bce$</string>
            <key>textureFileName</key>
            <string>item1_anims_i6p-i6p.png</string>
        </dict>
    </dict>
</plist>
