<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_pushnote_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{137,82}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,170},{139,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,82}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{139,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,82}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,86},{139,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,82}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,514},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,514},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,428},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,428},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,342},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,342},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,256},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,256},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,170},{141,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,86},{139,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,82}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{139,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,82}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{139,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,82}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>tx_pushnote_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{139,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,82}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_pushnote1.png</string>
            <key>size</key>
            <string>{431,601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf9df0c0d8bbd39f25237c2f866587cb:11be8faa8fbbb187e3ecb32e5b2600d8:1b16519dc6d3ef6963c350088b120759$</string>
            <key>textureFileName</key>
            <string>tx_pushnote1.png</string>
        </dict>
    </dict>
</plist>
