<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_login_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,711},{170,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,160}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>tx_login_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,812},{86,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{86,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tx_login_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{236,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,253}}</string>
                <key>sourceSize</key>
                <string>{236,253}</string>
            </dict>
            <key>tx_login_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{567,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,205}}</string>
                <key>sourceSize</key>
                <string>{567,205}</string>
            </dict>
            <key>tx_login_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,405}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{386,405}}</string>
                <key>sourceSize</key>
                <string>{392,411}</string>
            </dict>
            <key>tx_login_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,257},{218,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,144}}</string>
                <key>sourceSize</key>
                <string>{218,144}</string>
            </dict>
            <key>tx_login_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,409},{339,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,146}}</string>
                <key>sourceSize</key>
                <string>{339,146}</string>
            </dict>
            <key>tx_login_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,750},{172,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{172,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_login_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,873},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,122}}</string>
                <key>sourceSize</key>
                <string>{166,122}</string>
            </dict>
            <key>tx_login_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,409},{278,300}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{278,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_login_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,711},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{99,99}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_login.png</string>
            <key>size</key>
            <string>{660,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e372eee4b1313cd15e4bc22d6fe1c32:a30d15e7b2a448a3ad7982e9593b2d4b:c8c8508cc0456cc0c70059dbf83f907f$</string>
            <key>textureFileName</key>
            <string>tx_login.png</string>
        </dict>
    </dict>
</plist>
