<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_Selected_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,272},{197,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,272},{199,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,182},{199,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,92},{199,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{201,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{201,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{201,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{201,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{201,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{201,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{201,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{199,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,272},{199,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,182},{197,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{197,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,182},{199,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,92},{197,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,92},{199,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{199,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,272},{199,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{199,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,182},{197,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,92},{197,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
            <key>tx_Selected_bg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{197,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{197,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_Selected_bg.png</string>
            <key>size</key>
            <string>{1009,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6ebc659ca958c746f6ea418eb2fe1bd:d800077cb20ecada8bdac0e84a0cf756:71dc8f2abd55a9f5339fb2bfaeb4624a$</string>
            <key>textureFileName</key>
            <string>tx_Selected_bg.png</string>
        </dict>
    </dict>
</plist>
