<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_recharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,466},{247,231}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{247,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{253,229}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{253,229}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,466},{253,231}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{253,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{253,231}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{253,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,233},{253,231}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{253,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,233},{253,231}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{253,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,233},{253,231}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{253,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{253,229}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{253,229}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,233},{253,231}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{253,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,466},{251,231}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{251,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{247,229}}</string>
                <key>offset</key>
                <string>{-3,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{247,229}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,233},{241,231}}</string>
                <key>offset</key>
                <string>{-6,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{241,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,466},{245,231}}</string>
                <key>offset</key>
                <string>{-4,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{245,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{241,229}}</string>
                <key>offset</key>
                <string>{-6,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{241,229}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,466},{245,231}}</string>
                <key>offset</key>
                <string>{-4,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{245,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,233},{247,231}}</string>
                <key>offset</key>
                <string>{-3,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{247,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,466},{249,231}}</string>
                <key>offset</key>
                <string>{-2,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{249,231}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,2},{251,229}}</string>
                <key>offset</key>
                <string>{-1,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{251,229}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,227}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{253,227}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{253,229}}</string>
                <key>offset</key>
                <string>{0,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{253,229}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
            <key>tx_recharge_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{253,229}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{253,229}}</string>
                <key>sourceSize</key>
                <string>{253,385}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_recharge.png</string>
            <key>size</key>
            <string>{1769,699}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ddbec4bdf57c63c14894b44b020cc9:71681a90ce057fd0fa57869af5526331:fbf5df53259f9aebc2698206c3db85ef$</string>
            <key>textureFileName</key>
            <string>tx_recharge.png</string>
        </dict>
    </dict>
</plist>
