<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_recharge_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,388},{155,116}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{155,116}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,414},{163,118}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{163,118}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,254},{169,120}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{169,120}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,262},{175,124}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{175,124}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{175,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,266},{175,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,128}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,398},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,134},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,266},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,134},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,134},{175,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,396},{175,124}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{175,124}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,130},{171,122}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{171,122}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,388},{163,118}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{163,118}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>tx_recharge_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,264},{148,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,119}}</string>
                <key>sourceSize</key>
                <string>{148,119}</string>
            </dict>
            <key>tx_recharge_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>tx_recharge_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,130},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_recharge1.png</string>
            <key>size</key>
            <string>{1012,545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a376b5fdbf57b735f1653373d71c10c1:b8735648a70e76acf661cacd89d38dcd:9e6634373e97aed0a85cf3969afb754b$</string>
            <key>textureFileName</key>
            <string>tx_recharge1.png</string>
        </dict>
    </dict>
</plist>
