<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,96}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,38},{90,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{90,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{90,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{90,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{90,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{94,92}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{94,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{90,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{90,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{90,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{90,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face3_1.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a1bcb0e60c40a9856687dc718e6271f:b9586fdf88365b25a89dc35ccebdb69a:0b554c1f7c195a2d5bf656b1b7e2a019$</string>
            <key>textureFileName</key>
            <string>face3_1.png</string>
        </dict>
    </dict>
</plist>
