<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face3_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,326},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{80,92}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{80,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,84},{80,92}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{80,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,246},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,246},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{82,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,166},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,246},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{80,92}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{80,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,246},{78,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{78,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face3_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be0ffb97e868ebcce088ee25469f671:b56f9c9664abd4270edbee14992eb8b0:ed0f6ec5aee096922fbc6f7a069febf7$</string>
            <key>textureFileName</key>
            <string>face3_5.png</string>
        </dict>
    </dict>
</plist>
