<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face3_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{92,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{92,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{92,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{92,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{92,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{92,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{92,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{92,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,92}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{92,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face3_7.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b63bcf33fa2299ab1fbb3f1ca8d17455:eea71ce7675f11e6c9856c4afb8efe57:cded81dc969eced3fbc8758d8e56923e$</string>
            <key>textureFileName</key>
            <string>face3_7.png</string>
        </dict>
    </dict>
</plist>
