<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face3_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{104,94}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{104,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,216},{80,102}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,39},{80,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,330},{82,102}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,39},{82,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{94,108}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{94,108}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,110}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{86,110}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,110}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{86,110}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{84,108}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{84,108}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,336},{104,96}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,40},{104,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,110},{104,94}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{104,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,224},{104,94}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{104,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,110},{104,94}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{104,94}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{106,96}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,38},{106,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,434},{76,96}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{76,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{76,110}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{76,110}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{76,106}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,38},{76,106}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face3_11.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66ce105cbfbb32a34e1628820fbf353d:7a049714e0fa439643d8c0a722e59e4f:da079257367608ac60cd23430c07ac8c$</string>
            <key>textureFileName</key>
            <string>face3_11.png</string>
        </dict>
    </dict>
</plist>
