<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face3_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,314},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,210},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,314},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,106},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,210},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,106},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,108}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,29},{72,108}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{76,102}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,35},{76,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,422},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,318},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,428},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{72,104}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,33},{72,104}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,214},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,324},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,110},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,220},{72,102}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{72,102}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{76,106}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,31},{76,106}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face3_12_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{76,106}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,31},{76,106}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face3_12.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81e60f09c5e5b00324ca7a9e73202ad9:f37c57a36240070c0245a891e5297ad6:4b84e28e5c2d5044250f9ee4a124b620$</string>
            <key>textureFileName</key>
            <string>face3_12.png</string>
        </dict>
    </dict>
</plist>
