<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_common_btn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,134},{139,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{141,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{141,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,68},{139,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{139,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,134},{139,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,68},{141,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{141,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,134},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,134},{143,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,68},{145,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{145,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,68},{139,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{145,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{139,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{133,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,134},{129,64}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,68},{137,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{137,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,134},{139,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,68},{139,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{139,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>tx_common_btn2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{141,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{141,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_common_btn2.png</string>
            <key>size</key>
            <string>{1001,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fddc27762292f0c77eaf989cd5a9bb27:a5abe2b4395c3a3891b86e1ec37f8e00:6a5ef1b10128d51fafcb30a9ca91f5d3$</string>
            <key>textureFileName</key>
            <string>tx_common_btn2.png</string>
        </dict>
    </dict>
</plist>
