<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_common_btn3_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,370},{127,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{127,55}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,313},{127,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{127,55}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,140},{129,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{129,57}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,256},{129,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{129,55}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,199},{129,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{129,55}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,147},{131,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{131,57}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,282},{133,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{133,59}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,417},{133,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{133,59}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,147},{133,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{133,61}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,282},{133,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{133,61}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,147},{133,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{133,61}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,286},{133,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{133,61}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{135,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{135,61}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{135,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{135,61}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{137,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{137,63}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,73},{139,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{139,65}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{141,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{141,65}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,71},{141,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{141,67}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{143,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{143,67}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{143,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{143,69}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{145,69}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{145,67}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,147},{129,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{129,55}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>tx_common_btn3_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,313},{127,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{127,55}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_common_btn1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6103c23f973d7fd5ccf83bf97e398ae1:764e281be85e29b8c9a6627cb635d156:50ea542fa35f92f6793c90b3f996c903$</string>
            <key>textureFileName</key>
            <string>tx_common_btn1.png</string>
        </dict>
    </dict>
</plist>
