<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanhua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,223},{265,137}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{265,137}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,223},{283,177}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,17},{283,177}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,223},{287,183}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{287,183}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{311,195}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,10},{311,195}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,223},{309,211}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,4},{309,211}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{345,211}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{345,211}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{345,219}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{345,219}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,2},{341,201}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{341,201}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{341,213}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{341,213}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{337,211}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{337,211}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
            <key>yanhua_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,223},{293,183}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,18},{293,183}}</string>
                <key>sourceSize</key>
                <string>{399,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanhua.png</string>
            <key>size</key>
            <string>{1762,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1efa648c22b07be576fff45d1d3fc043:a7befd8981a669211a26fbf583b52ec3:35c8e0881dbfde96856b912f529c83cc$</string>
            <key>textureFileName</key>
            <string>yanhua.png</string>
        </dict>
    </dict>
</plist>
