<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face4_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,280},{90,88}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,46},{90,88}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{120,96}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{120,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{120,96}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{120,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{120,96}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{120,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{120,96}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{120,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{120,96}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{120,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{120,96}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{120,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,188},{88,90}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,44},{88,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,372},{86,90}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{86,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,372},{86,90}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{86,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,188},{86,80}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,54},{86,80}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,100},{94,86}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{94,86}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,100},{120,86}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{120,86}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{120,86}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{120,86}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,96}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{124,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face4_8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a8bd4098581d6d2fef8b60e95b179c:5bbf3ccfc42189fd4d637d70136ea48b:067d0910bbbaf614c41c655c03605d1d$</string>
            <key>textureFileName</key>
            <string>face4_8.png</string>
        </dict>
    </dict>
</plist>
