<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face4_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{110,130}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{110,130}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{114,130}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{114,130}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,352},{114,114}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{114,114}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,116}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{114,116}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,236},{114,114}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{114,114}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{110,110}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{110,110}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,120},{114,114}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{114,114}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,388},{114,118}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{114,118}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,130}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{114,130}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,266},{114,120}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{114,120}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{112,114}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,24},{112,114}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face4_9.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d5c1d4f84cc3c00272c44681661f23c:b517340793635ad1f9938c7d5f12394f:afd9de48e35a4de32e764598aa926479$</string>
            <key>textureFileName</key>
            <string>face4_9.png</string>
        </dict>
    </dict>
</plist>
