<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face4_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{96,92}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{96,92}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,100},{104,110}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,21},{104,110}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,206},{92,90}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{92,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,90}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{158,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{136,84}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{136,84}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{140,80}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,51},{140,80}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{140,80}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,51},{140,80}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{140,80}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,51},{140,80}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{140,80}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,51},{140,80}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{140,80}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,51},{140,80}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face4_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3661b185d25e909bd2ad18c8518db5f2:1a605cb7c1a7c2b9a615983dc439c462:bd0456ea3b1d13441f33fc76a3164d64$</string>
            <key>textureFileName</key>
            <string>face4_5.png</string>
        </dict>
    </dict>
</plist>
