<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face4_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{98,90}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{98,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,94},{98,90}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{98,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,96}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{98,96}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>face4_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,90}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{98,90}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face4_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fa4344ad6939a486c25d6c66502eae1:11a1627136a060da72a3a24528e3f6ef:e2495e96e721bf8e4653925ad103f8d6$</string>
            <key>textureFileName</key>
            <string>face4_2.png</string>
        </dict>
    </dict>
</plist>
