<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Friend_Limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,814},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>Friend_Limit_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,771},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>Friend_Limit_cancel_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,728},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>Friend_Limit_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,728},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>Friend_Limit_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,824},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>Friend_RoomCard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{169,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,33}}</string>
                <key>sourceSize</key>
                <string>{169,33}</string>
            </dict>
            <key>Friend_RoomInfor_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,827},{116,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,27}}</string>
                <key>sourceSize</key>
                <string>{120,31}</string>
            </dict>
            <key>Friend_add_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,211},{1,1}}</string>
                <key>offset</key>
                <string>{-121,40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{243,82}</string>
            </dict>
            <key>Friend_bigwin_linebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{780,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,91}}</string>
                <key>sourceSize</key>
                <string>{780,91}</string>
            </dict>
            <key>Friend_bigwin_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,827},{116,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,27}}</string>
                <key>sourceSize</key>
                <string>{120,31}</string>
            </dict>
            <key>Friend_button_Add_roomCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,779},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>Friend_button_Roomcard_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,80},{187,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>Friend_button_Roomcard_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{187,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>Friend_button_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,929},{65,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>Friend_button_bigwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,447},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{68,51}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_bigwin_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,440},{106,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,53}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{826,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{826,53}}</string>
                <key>sourceSize</key>
                <string>{826,53}</string>
            </dict>
            <key>Friend_button_break.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,956},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Friend_button_break1.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,419},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>Friend_button_creat.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,517},{209,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,58}}</string>
                <key>sourceSize</key>
                <string>{209,58}</string>
            </dict>
            <key>Friend_button_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{66,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{66,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Friend_button_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,814},{113,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,40}}</string>
                <key>sourceSize</key>
                <string>{113,40}</string>
            </dict>
            <key>Friend_button_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,454},{61,29}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{61,29}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>Friend_button_gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,447},{68,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{68,49}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_gonggao_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,385},{106,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,53}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_infor.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,779},{43,43}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{43,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Friend_button_infor_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,447},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Friend_button_jujue.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,824},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>Friend_button_ksjr.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,275},{150,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,59}}</string>
                <key>sourceSize</key>
                <string>{150,59}</string>
            </dict>
            <key>Friend_button_mineInfor.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,428},{100,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{100,49}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_mineInfor_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,337},{106,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,53}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,275},{151,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,58}}</string>
                <key>sourceSize</key>
                <string>{151,58}</string>
            </dict>
            <key>Friend_button_people.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,60},{53,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{53,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Friend_button_people_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,447},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Friend_button_queren.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,275},{151,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,58}}</string>
                <key>sourceSize</key>
                <string>{151,58}</string>
            </dict>
            <key>Friend_button_quickly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{68,51}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_quickly_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,330},{106,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,53}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_roomInfor.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,447},{68,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{68,49}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_roomInfor_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,275},{106,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,53}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>Friend_button_shenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,275},{151,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,58}}</string>
                <key>sourceSize</key>
                <string>{151,58}</string>
            </dict>
            <key>Friend_button_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,115},{43,43}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{43,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Friend_button_sz_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,447},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Friend_button_text_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,368},{218,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,49}}</string>
                <key>sourceSize</key>
                <string>{220,49}</string>
            </dict>
            <key>Friend_button_text_add_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,317},{218,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,49}}</string>
                <key>sourceSize</key>
                <string>{220,49}</string>
            </dict>
            <key>Friend_button_text_creat.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,266},{218,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,49}}</string>
                <key>sourceSize</key>
                <string>{220,49}</string>
            </dict>
            <key>Friend_button_text_creat_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,215},{218,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,49}}</string>
                <key>sourceSize</key>
                <string>{220,49}</string>
            </dict>
            <key>Friend_button_tiren.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,827},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>Friend_button_tiren_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,827},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>Friend_button_tongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,827},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>Friend_button_xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,419},{209,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,58}}</string>
                <key>sourceSize</key>
                <string>{209,58}</string>
            </dict>
            <key>Friend_button_zt.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,275},{151,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,58}}</string>
                <key>sourceSize</key>
                <string>{151,58}</string>
            </dict>
            <key>Friend_caidan_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,202},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>Friend_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,410},{31,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,32}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>Friend_gonggao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,517},{427,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,28}}</string>
                <key>sourceSize</key>
                <string>{427,28}</string>
            </dict>
            <key>Friend_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,517},{308,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
            <key>Friend_left_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,153},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>Friend_left_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,517},{308,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
            <key>Friend_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{450,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,1}}</string>
                <key>sourceSize</key>
                <string>{450,1}</string>
            </dict>
            <key>Friend_line_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,202},{243,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,1}}</string>
                <key>sourceSize</key>
                <string>{243,1}</string>
            </dict>
            <key>Friend_message_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,211},{1,1}}</string>
                <key>offset</key>
                <string>{-126,50.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{253,102}</string>
            </dict>
            <key>Friend_mine_infor_shuru_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,160},{231,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,53}}</string>
                <key>sourceSize</key>
                <string>{231,53}</string>
            </dict>
            <key>Friend_qipao_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,337},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Friend_qipao_mine_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,192},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>Friend_qipao_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,275},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Friend_qipao_other_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,182},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>Friend_qipao_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,275},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Friend_qipao_system_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,172},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>Friend_qunzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,479},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>Friend_right_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,517},{260,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,32}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>Friend_right_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{826,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{826,1}}</string>
                <key>sourceSize</key>
                <string>{826,1}</string>
            </dict>
            <key>Friend_right_xiala_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,153},{253,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,1}}</string>
                <key>sourceSize</key>
                <string>{253,1}</string>
            </dict>
            <key>Friend_roomInfor_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,940},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Friend_room_button_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,275},{149,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,56}}</string>
                <key>sourceSize</key>
                <string>{149,56}</string>
            </dict>
            <key>Friend_room_button_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,275},{149,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,56}}</string>
                <key>sourceSize</key>
                <string>{149,56}</string>
            </dict>
            <key>Friend_room_infor_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,517},{201,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,53}}</string>
                <key>sourceSize</key>
                <string>{201,53}</string>
            </dict>
            <key>Friend_room_infor_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{762,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{762,120}}</string>
                <key>sourceSize</key>
                <string>{766,124}</string>
            </dict>
            <key>Friend_room_infor_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,827},{116,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,27}}</string>
                <key>sourceSize</key>
                <string>{120,31}</string>
            </dict>
            <key>Friend_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,479},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Friend_text_RoomCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,275},{133,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,33}}</string>
                <key>sourceSize</key>
                <string>{135,33}</string>
            </dict>
            <key>Friend_text_szqm.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,517},{437,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,49}}</string>
                <key>sourceSize</key>
                <string>{437,49}</string>
            </dict>
            <key>Friend_text_szqm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{437,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,49}}</string>
                <key>sourceSize</key>
                <string>{437,49}</string>
            </dict>
            <key>Friend_text_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,275},{149,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{149,31}}</string>
                <key>sourceSize</key>
                <string>{153,35}</string>
            </dict>
            <key>Friend_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,945},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,75}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>Friend_touxiang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,930},{71,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{71,70}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>Friend_touxiang_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,943},{71,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,72}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>Friend_touxiang_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,945},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,76}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Friend.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49244d86fbeaa6340566727f1a1ec0cf:1/1$</string>
            <key>textureFileName</key>
            <string>Friend.png</string>
        </dict>
    </dict>
</plist>
