<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_certification_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,202},{24,34}}</string>
                <key>offset</key>
                <string>{-81,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{24,34}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,200},{38,48}}</string>
                <key>offset</key>
                <string>{-74,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{38,48}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,74},{56,50}}</string>
                <key>offset</key>
                <string>{-67,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,50}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{70,62}}</string>
                <key>offset</key>
                <string>{-59,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{70,62}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{80,86}}</string>
                <key>offset</key>
                <string>{-53,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{80,86}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,100},{96,88}}</string>
                <key>offset</key>
                <string>{-41,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{96,88}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,102},{96,90}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{96,90}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,102},{98,90}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{98,90}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{108,90}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{108,90}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,90}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,2},{108,90}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{98,90}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,2},{98,90}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{98,88}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,3},{98,88}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{96,88}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,4},{96,88}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,158},{82,80}}</string>
                <key>offset</key>
                <string>{50,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,12},{82,80}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,90},{68,66}}</string>
                <key>offset</key>
                <string>{58,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,26},{68,66}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,126},{54,50}}</string>
                <key>offset</key>
                <string>{66,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,42},{54,50}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,178},{42,46}}</string>
                <key>offset</key>
                <string>{71,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,45},{42,46}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>tx_certification_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,202},{26,38}}</string>
                <key>offset</key>
                <string>{78,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,51},{26,38}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_certification2.png</string>
            <key>size</key>
            <string>{512,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b061372abfe73f8bd4f16f557e1ce470:a0bb80c6c8326ccb0a5053c052f8572a:1c71a63125befddf2dc044f2faada3fe$</string>
            <key>textureFileName</key>
            <string>tx_certification2.png</string>
        </dict>
    </dict>
</plist>
