<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_certification_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>tx_certification_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,179},{189,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,187}}</string>
                <key>sourceSize</key>
                <string>{189,187}</string>
            </dict>
            <key>tx_certification_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,175}}</string>
                <key>sourceSize</key>
                <string>{368,175}</string>
            </dict>
            <key>tx_certification_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{217,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,217}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_certification1.png</string>
            <key>size</key>
            <string>{490,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f7c9c8aa1f0ed5447aa1a0e78c7e8b7:5e93c108ae7924c955c99602a7c8e142:f63be3a91324d641c95d9a0c759b3ea9$</string>
            <key>textureFileName</key>
            <string>tx_certification1.png</string>
        </dict>
    </dict>
</plist>
