<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zht_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,308},{72,50}}</string>
				<key>offset</key>
				<string>{48,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{174,117}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,82},{79,75}}</string>
				<key>offset</key>
				<string>{-29,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,79},{79,84}}</string>
				<key>offset</key>
				<string>{-29,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,0},{79,96}}</string>
				<key>offset</key>
				<string>{-29,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,241},{81,67}}</string>
				<key>offset</key>
				<string>{-30,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,117},{81,67}}</string>
				<key>offset</key>
				<string>{-30,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{79,66}}</string>
				<key>offset</key>
				<string>{-29,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,184},{79,66}}</string>
				<key>offset</key>
				<string>{-29,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,221},{79,66}}</string>
				<key>offset</key>
				<string>{-29,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,225},{79,66}}</string>
				<key>offset</key>
				<string>{-29,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,0},{106,82}}</string>
				<key>offset</key>
				<string>{21,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,117},{79,67}}</string>
				<key>offset</key>
				<string>{-29,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,154},{79,67}}</string>
				<key>offset</key>
				<string>{-29,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,158},{79,67}}</string>
				<key>offset</key>
				<string>{-29,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,0},{92,82}}</string>
				<key>offset</key>
				<string>{14,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,82},{85,72}}</string>
				<key>offset</key>
				<string>{10,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,169},{79,72}}</string>
				<key>offset</key>
				<string>{7,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,244},{68,72}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,308},{58,72}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,82},{66,87}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
			<key>zht_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,157},{66,87}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,143}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kuso8.png</string>
			<key>realTextureFileName</key>
			<string>kuso8.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>