<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cjd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,258},{37,40}}</string>
				<key>offset</key>
				<string>{59,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,353},{92,83}}</string>
				<key>offset</key>
				<string>{18,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,334},{116,96}}</string>
				<key>offset</key>
				<string>{6,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,306},{116,96}}</string>
				<key>offset</key>
				<string>{6,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,209},{116,97}}</string>
				<key>offset</key>
				<string>{6,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,237},{116,97}}</string>
				<key>offset</key>
				<string>{6,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,208},{116,98}}</string>
				<key>offset</key>
				<string>{6,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{142,109}}</string>
				<key>offset</key>
				<string>{-7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,107},{135,102}}</string>
				<key>offset</key>
				<string>{-4,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,235},{130,99}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,109},{119,99}}</string>
				<key>offset</key>
				<string>{4,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,295},{35,36}}</string>
				<key>offset</key>
				<string>{55,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,107},{130,105}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,130},{130,105}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{130,106}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,0},{130,107}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,0},{130,107}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,389},{35,32}}</string>
				<key>offset</key>
				<string>{50,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,209},{44,49}}</string>
				<key>offset</key>
				<string>{31,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,353},{66,64}}</string>
				<key>offset</key>
				<string>{31,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,430},{66,65}}</string>
				<key>offset</key>
				<string>{31,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,306},{101,83}}</string>
				<key>offset</key>
				<string>{13,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,430},{101,76}}</string>
				<key>offset</key>
				<string>{13,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
			<key>cjd_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,402},{96,66}}</string>
				<key>offset</key>
				<string>{16,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,117}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kuso1.png</string>
			<key>realTextureFileName</key>
			<string>kuso1.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>