<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,232},{153,45}}</string>
				<key>offset</key>
				<string>{-6,-40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,344},{155,111}}</string>
				<key>offset</key>
				<string>{-5,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,452},{153,111}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,499},{153,111}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,455},{153,111}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,563},{153,111}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,652},{153,111}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,805},{153,111}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,566},{153,111}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,343},{153,112}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,229},{153,115}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,674},{153,111}}</string>
				<key>offset</key>
				<string>{-6,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,115},{154,117}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{157,115}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,229},{157,112}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{159,113}}</string>
				<key>offset</key>
				<string>{-3,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{161,116}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,677},{153,107}}</string>
				<key>offset</key>
				<string>{-6,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,784},{153,105}}</string>
				<key>offset</key>
				<string>{-6,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,784},{153,102}}</string>
				<key>offset</key>
				<string>{-6,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{161,116}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,116},{159,113}}</string>
				<key>offset</key>
				<string>{-3,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,232},{157,111}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
			<key>dg_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,341},{157,111}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,133}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kuso2.png</string>
			<key>realTextureFileName</key>
			<string>kuso2.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>