<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hqc_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{35,23}}</string>
				<key>offset</key>
				<string>{60,46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,66},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,274},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,66},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{121,66}}</string>
				<key>offset</key>
				<string>{-10,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{121,66}}</string>
				<key>offset</key>
				<string>{-10,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,66},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,66},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,66},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,132},{61,38}}</string>
				<key>offset</key>
				<string>{38,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,132},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{121,66}}</string>
				<key>offset</key>
				<string>{-10,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{121,66}}</string>
				<key>offset</key>
				<string>{-10,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,236},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,340},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,132},{86,55}}</string>
				<key>offset</key>
				<string>{16,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,132},{103,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,444},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,132},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,236},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,340},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
			<key>hqc_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,444},{104,66}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,115}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kuso5.png</string>
			<key>realTextureFileName</key>
			<string>kuso5.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>