<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ceg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,138},{132,122}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{132,122}}</string>
                <key>sourceSize</key>
                <string>{264,122}</string>
            </dict>
            <key>ceg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{178,102}}</string>
                <key>offset</key>
                <string>{43,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,19},{178,102}}</string>
                <key>sourceSize</key>
                <string>{264,122}</string>
            </dict>
            <key>ceg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,358},{88,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,19},{88,84}}</string>
                <key>sourceSize</key>
                <string>{264,122}</string>
            </dict>
            <key>ceg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{162,100}}</string>
                <key>offset</key>
                <string>{36,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,19},{162,100}}</string>
                <key>sourceSize</key>
                <string>{264,122}</string>
            </dict>
            <key>ceg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{134,122}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{134,122}}</string>
                <key>sourceSize</key>
                <string>{264,122}</string>
            </dict>
            <key>ceg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,102}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{190,102}}</string>
                <key>sourceSize</key>
                <string>{264,122}</string>
            </dict>
            <key>ceg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,272},{104,84}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,19},{104,84}}</string>
                <key>sourceSize</key>
                <string>{264,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ccff654c9471801aec132eb49af40e6:1/1$</string>
            <key>textureFileName</key>
            <string>magic1.png</string>
        </dict>
    </dict>
</plist>
