<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,744},{152,174}}</string>
                <key>offset</key>
                <string>{-8,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,83},{152,174}}</string>
                <key>sourceSize</key>
                <string>{248,264}</string>
            </dict>
            <key>zq02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{188,252}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{188,252}}</string>
                <key>sourceSize</key>
                <string>{248,264}</string>
            </dict>
            <key>zq03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{230,228}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{230,228}}</string>
                <key>sourceSize</key>
                <string>{248,264}</string>
            </dict>
            <key>zq04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,514},{230,228}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{230,228}}</string>
                <key>sourceSize</key>
                <string>{248,264}</string>
            </dict>
            <key>zq05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{248,242}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{248,242}}</string>
                <key>sourceSize</key>
                <string>{248,264}</string>
            </dict>
            <key>zq06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{230,262}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{230,262}}</string>
                <key>sourceSize</key>
                <string>{248,264}</string>
            </dict>
            <key>zq07.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,252},{230,260}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,260}}</string>
                <key>sourceSize</key>
                <string>{248,264}</string>
            </dict>
            <key>zq08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,264}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,264}}</string>
                <key>sourceSize</key>
                <string>{248,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7aa6ffc144b27cb380e83df7bf99eb6:1/1$</string>
            <key>textureFileName</key>
            <string>magic5.png</string>
        </dict>
    </dict>
</plist>
