<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>views/login/loginlogo/1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,0},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,0},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,0},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2492,0},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,693},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,924},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1155},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,231},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,231},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,231},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2492,231},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,462},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,693},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,924},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1155},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,462},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,462},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2492,462},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,693},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,924},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,1155},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,693},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{2492,693},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,924},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,1155},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{2492,924},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
			<key>views/login/loginlogo/1_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2492,1155},{623,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{623,231}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>loginlogo.png</string>
			<key>realTextureFileName</key>
			<string>loginlogo.png</string>
			<key>size</key>
			<string>{3115,1386}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>3115</integer>
			<key>height</key>
			<integer>1386</integer>
		</dict>
	</dict>
</plist>