<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_agent_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,163},{7,15}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{7,15}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{125,63}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,8},{125,63}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{123,65}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,7},{123,65}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,262},{117,65}}</string>
                <key>offset</key>
                <string>{37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,7},{117,65}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,329},{105,63}}</string>
                <key>offset</key>
                <string>{48,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,8},{105,63}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,396},{89,65}}</string>
                <key>offset</key>
                <string>{58,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,7},{89,65}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,260},{71,61}}</string>
                <key>offset</key>
                <string>{67,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,10},{71,61}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,65},{53,55}}</string>
                <key>offset</key>
                <string>{75,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,14},{53,55}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,122},{37,39}}</string>
                <key>offset</key>
                <string>{81,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,23},{37,39}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,122},{11,11}}</string>
                <key>offset</key>
                <string>{87,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,43},{11,11}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,163},{7,15}}</string>
                <key>offset</key>
                <string>{-83,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{7,15}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{33,47}}</string>
                <key>offset</key>
                <string>{-79,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{33,47}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{53,61}}</string>
                <key>offset</key>
                <string>{-73,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{53,61}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,195},{71,63}}</string>
                <key>offset</key>
                <string>{-65,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{71,63}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,191}}</string>
                <key>sourceSize</key>
                <string>{268,191}</string>
            </dict>
            <key>tx_agent_img_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,329},{89,65}}</string>
                <key>offset</key>
                <string>{-57,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{89,65}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,394},{103,65}}</string>
                <key>offset</key>
                <string>{-48,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{103,65}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{119,65}}</string>
                <key>offset</key>
                <string>{-38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{119,65}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,195},{123,65}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{123,65}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
            <key>tx_agent_img_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{125,65}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,7},{125,65}}</string>
                <key>sourceSize</key>
                <string>{237,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_agent_img1.png</string>
            <key>size</key>
            <string>{327,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8f421eb94f51af90ba54b8b8a31aa59:1adc14e8c60dae8430e9d0adae2d3823:e7ae85fe12480be1f83250bf4c0982c1$</string>
            <key>textureFileName</key>
            <string>tx_agent_img1.png</string>
        </dict>
    </dict>
</plist>
