<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_agent_img_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{557,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,109}}</string>
                <key>sourceSize</key>
                <string>{557,109}</string>
            </dict>
            <key>tx_agent_img_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,190},{165,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,84}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>tx_agent_img_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{184,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,186}}</string>
                <key>sourceSize</key>
                <string>{184,186}</string>
            </dict>
            <key>tx_agent_img_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{487,345}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{487,345}}</string>
                <key>sourceSize</key>
                <string>{487,347}</string>
            </dict>
            <key>tx_agent_img_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,276},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_agent_img.png</string>
            <key>size</key>
            <string>{677,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c92d5943fa5db915bbfe1ffba16b3687:f7fb50650651af0c9e6815fe6b8e87bf:c8b22cec8c9ee10fe3d684d69bf50dff$</string>
            <key>textureFileName</key>
            <string>tx_agent_img.png</string>
        </dict>
    </dict>
</plist>
